@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
}

.home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left Side Start */

.left-container {
  background-color: rgba(86, 5, 235, 0.9);
  padding: 35px;
  border-radius: 16px;
  width: 220px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  left: 2%;
  transform: translateX(-2%);
}

.header-container h3 {
  font-size: 0.828rem;
  opacity: 0.9;
  color: #ccc;
}

.title div {
  color: #fff;
  font-size: 1.2rem;
}

.content-container {
  width: 99px;
  height: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(86, 5, 235, 0.2)
  );
}

.content-container h1 {
  font-size: 2.7rem;
  color: #fff;
}

.content-container div {
  font-size: 0.626rem;
  opacity: 0.9;
  color: #ccc;
}

.left-description p {
  font-size: 0.728rem;
  text-align: center;
  opacity: 0.9;
  color: #ccc;
}

/* Left Side End */

/* Right Side Start */

.right-container {
  padding: 35px;
  width: 220px;
  height: 290px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 16px 3px #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-content-container {
  display: flex;
  align-items: center;
}

.right-content-container-box {
  width: 100%;
  padding: 4px 4px;
  display: flex;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
}

.right-content-container-box div {
  display: flex;
  gap: 4px;
}

.right-content-container-box div .action {
  font-size: 0.786rem;
  color: rgba(255, 25, 25, 0.6);
}

.icon0 {
  width: 11px;
}

.icon1 {
  background: linear-gradient(
    to left,
    rgba(255, 25, 25, 0.1) 50%,
    rgba(255, 25, 25, 0.2) 65%,
    rgba(255, 25, 25, 0.3) 70%,
    rgba(255, 25, 25, 0.4) 80%,
    rgba(255, 25, 25, 0.4)
  );
}

.icon2 {
  color: #ff8800;
  background: linear-gradient(
    to left,
    rgba(255, 220, 25, 0.1) 50%,
    rgba(255, 222, 25, 0.2) 65%,
    rgba(255, 224, 25, 0.3) 70%,
    rgba(255, 226, 25, 0.4) 80%,
    rgba(255, 228, 25, 0.4)
  );
}

.icon3 {
  background: linear-gradient(
    to left,
    rgba(64, 132, 25, 0.1) 50%,
    rgba(68, 134, 25, 0.2) 65%,
    rgba(70, 136, 25, 0.3) 70%,
    rgba(72, 138, 25, 0.4) 80%,
    rgba(74, 140, 25, 0.4)
  );
}

.icon4 {
  background: linear-gradient(
    to left,
    rgba(26, 116, 255, 0.1) 50%,
    rgba(28, 118, 255, 0.2) 65%,
    rgba(30, 120, 255, 0.3) 70%,
    rgba(32, 122, 255, 0.4) 80%,
    rgba(34, 124, 255, 0.4)
  );
}

.count-number {
  font-size: 0.586rem;
}

.count-number2 {
  opacity: 0.6;
}

.btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 20px;
  background-color: #222;
  color: #f1f1f1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-page {
    flex-direction: column;
    padding: 10px;
  }
  .left-container {
    top: -8%;
    left: 0;
    transform: translateY(8%);
  }
  .right-container {
    border-bottom-left-radius: 16px;
  }
}
